@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
body {
	margin: 0 auto;
	font-family: 'STIX Two Math', serif; 
}

input::-moz-focus-inner { 
  border: 0; 
}
option {
	font-family: 'STIX Two Math', serif;
}
a {
   outline: 0;
}

.submit-button {
	font-family: 'STIX Two Math', serif;
	font-weight: 100;
	margin-top: 20px;
	width: 280px;
	background-color: rgb(78, 109, 145);
	color: rgb(255, 252, 203);
	border-radius: 5px;
}
.game-area {
	margin:0 auto;
	text-align: center;
	padding-top: 20px; 
}

.game-options {
	border-bottom: 1px dashed #CFCFCF;
	padding-bottom: 20px;
}
.game-options select, .game-options input  {
	border: 1px solid rgb(255, 255, 255);
	padding: 10px;
	margin-right: 10px;
	outline: none;
	font-family: 'STIX Two Math', serif; 
	font-weight: bold;
}
.game-board {
	margin-top: 50px;
	padding: 10px;
}

.grid-box, .XX-player, .OO-player {
	font-size: 20px;
	padding: 15px 25px;
	width: 80px;
	height: 80px;
	margin:0px;
	border-radius: 2px;
	border:none;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	background-color: #FCFCFC;
	outline: black;
	border-color: rgb(224, 212, 185);
}

.XX-player {
	background-color: rgb(255, 252, 203);
	color: rgb(170, 26, 26);
}

.grid-box:hover {
	background-color: rgb(255, 253, 221);
	box-shadow: 0px 15px 20px rgba(170, 47, 47, 0.432);
	/* box-shadow: 0px 15px 20px rgba(78, 109, 145, 0.432); */
}

.OO-player {
	background-color: rgb(170, 47, 47);
	color: rgb(255, 252, 203);
}

.score-card {
	font-weight: bold;
	line-height: 25px;
}
.score-card span {
	font-weight: normal;
}